.body{
    margin:0%;
    padding: 0%;
    overflow-x: hidden;
    display: flex;
}
.header{
    background-color: #85a9c9;
    text-align: center;
    border-radius: 25px;
    width: calc(100vw/3);
    align-self: center;
    h1{
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        color: #ffffff;
    }
}
.nameform{
    background-color: #85a9c9;
    text-align: center;
    border-radius: 25px;
    width: calc(100vw/3);
    display: grid;
    justify-self: center;
}